<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Delta</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Delta.styles.css" asp-append-version="true"/>

    <link rel="stylesheet" href="/lib/tailwind.css"/>
    <link rel="stylesheet" href="/lib/flowbite.min.css"/>
    <script src="lib/vue.global.js"></script>
    <script src="lib/flowbite.js"></script>
</head>
<body>
<header>

    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="flex items-center">
                <img src="/img/logo.svg" class="mr-3 h-6 sm:h-9" alt="Delta Logo"/>
            </a>
            <div class="flex items-center md:order-2">
                <partial name="_LoginPartial"/>
            </div>

            <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
                <partial name="_MenuItems"/>
            </div>

        </div>
    </nav>

</header>

<div class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <main role="main" class="container flex flex-wrap justify-between pb-3">
            @RenderBody()
        </main>
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            &copy; 2022 - Delta - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>