<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Delta</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

    <link rel="stylesheet" href="~/lib/tailwind.css"/>
    <link rel="stylesheet" href="~/lib/fontAwesome.css"/>
    <link rel="stylesheet" href="~/lib/interFont.css"/>
    <link rel="stylesheet" href="~/lib/tailwindElements.css"/>
    <link rel="stylesheet" href="~/lib/tw-icons.css"/>
    <script src="~/lib/vue.global.prod.js"></script>
    <script src="~/lib/axios.min.js"></script>
    <script src="~/lib/tailwindElements.js"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        sans: ['Inter', 'sans-serif']
                    }
                }
            }
        }
    </script>

</head>
<body class="bg-gray-100">

<div class="flex h-full w-full flex-row" style="height: 100vh;">
    <div class="flex h-full flex-col">
        <aside class="h-full w-80" aria-label="Sidebar">
            <div class="h-full overflow-y-auto bg-gray-50 rounded dark:bg-gray-800">
                <partial name="_MenuItemspartial"/>
                <partial name="_LoginPartial"/>
            </div>
        </aside>
    </div>
    <div class="flex w-full flex-col bg-white p-6 m-4 rounded-lg shadow-md">
        <div class="flex w-full flex-col">
            <main role="main" class="flex w-full flex-col gap-6">
                @RenderBody()
            </main>
        </div>
        <div class="flex w-full">
            &copy; 2022 - Delta - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/tw-elements.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>