<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Delta</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Delta.styles.css" asp-append-version="true"/>

    <link rel="stylesheet" href="~/lib/tailwind.css"/>
    <link rel="stylesheet" href="~/lib/flowbite.css"/>
    <script src="~/lib/tailwind.js"></script>
    <script src="~/lib/flowbite.js"></script>
    <script src="~/lib/vue.global.prod.js"></script>
    <script src="~/lib/axios.min.js"></script>
</head>
<body>

<div class="flex h-full w-full flex-row gap-6" style="height: 100vh;">
    <div class="flex h-full flex-col gap-6">
        <aside class="h-full w-64" aria-label="Sidebar">
            <div class="h-full overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="flex items-center pl-2.5 mb-5">
                    DELTA
                </a>

                <partial name="_MenuItemspartial"/>
                <partial name="_LoginPartial"/>

            </div>
        </aside>
    </div>
    <div class="flex w-full flex-col pr-6">
        <div class="flex w-full flex-col">
            <main role="main" class="flex w-full flex-col gap-3">
                @RenderBody()
            </main>
        </div>
        <div class="flex w-full">
            &copy; 2022 - Delta - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>